.registerForm {
  display: flex;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  background-color: #d9d9d9;
  justify-content: space-around;
  h1 {
    padding-left: 90px;
    font-size: 48px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    input::placeholder {
      color: white;
      opacity: 50%;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      border-radius: 4px;
      margin-right: 25px;
      opacity: 50%;
      filter: invert(0.9);
    }
    .inputError {
      display: flex;
      flex-direction: column;
      gap: 3px;
      align-items: center;
    }
    input {
      height: 40px;
      width: 300px;
      color: white;
      font-size: 16px;
      max-width: 310px;
      border-style: none;
      border-radius: 20px;
      text-align: center;
      background-color: #82bb2c;
    }
    button {
      font-size: 16px;
      height: 40px;
      padding: 10px;
      border-radius: 20px;
      background-color: transparent;
    }
  }
  .span {
    color: #bc2e2e;
  }
}

@media (max-width: 875px) {
  .registerForm {
    width: 100%;
    height: 85%;
    align-items: center;
    color: white;
    background-color: #01140e;
    h1 {
      padding: 0;
      font-size: 30px;
    }
    form {
      gap: 20px;
      input {
        height: 35px;
        border-radius: 15px;
        font-size: 18px;
      }
      button {
        color: white;
        border: 2px solid white;
      }
    }
  }
}
