@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";

.container__postInformacion {
  display: flex;
  align-self: center;
  margin: 20px 40px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  .container__personal {
    gap: 20px;
    display: flex;
    flex-direction: column;
    .img__informacion {
      width: 200px;
      height: 200px;
      margin: 0px auto;
      .foto__informacion {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
      }
    }
    .nombrePais {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
    .informacion__name {
      font-size: 20px;
      color: $color-secundary;
      text-align: center;
      font-weight: 600;
    }
    .informacion__pais {
      font-size: 20px;
      color: $color-secundary;
      text-align: center;
      font-weight: 600;
      border-bottom: 2px solid yellowgreen;
    }
  }
  .file__info {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    align-self: center;
    .file__container {
      width: 100%;
      height: 250px;
      background-color: aquamarine;
      .file__img {
        height: 100%;
      }
    }
  }
  img {
    width: 300px;
    border-radius: 10px;
  }
}

@media (max-width: 650px) {
  .container__postInformacion {
    flex-direction: column;
    .container__personal {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .img__informacion {
        width: 100px;
        height: 100px;
        margin: 0;
        .foto__informacion {
          width: 100px;
          height: 100px;
        }
      }

      .informacion__name {
        margin: 0;
        padding: 0;
      }
    }
    .file__info {
      width: 100%;
    }
  }
}
