@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";

.container__comment {
  background-color: white;
  width: 86%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  .post__description {
    width: 90%;
    margin: 10px auto;
    padding: 10px 0;
    .title__post {
      font-size: 20px;
    }
    .description {
      font-size: 16px;
    }
  }
  .postSend {
    width: 90%;
    margin: 0 auto;
    border: 2px solid $color-primary;
    height: 40px;
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
  }
  .post__comment {
    width: 90%;
    margin: 10 auto;
    font-size: 20px;
    .comment {
      gap: 14px;
      width: 100%;
      padding: 10px;
      border-bottom: 2px solid rgb(196, 196, 196);
      display: flex;
      align-items: center;
      margin: 20px;
      .img__comment {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
      .container__name--comment {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 5px;
        .name__comment {
          font-weight: bold;
        }
        .comment__check {
          opacity: 90%;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .container__comment {
    width: 100%;
  }

  .comment__check {
    opacity: 90%;
    font-size: 12px;
  }
}
