@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";

.container__header {
  width: 100%;
  padding: 10px 30px;
  background-color: $color-secundary;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  .header__nav {
    height: 100%;
    .header__ul {
      display: flex;

      text-decoration: none;
      list-style: none;
      align-items: center;
      height: 100%;
      justify-content: space-between;
      li {
        color: white;
      }
      li:hover {
        color: yellowgreen;
      }
      .menu {
        display: flex;
        gap: 20px;
        .cerrar__sesion {
          justify-self: center;
        }
      }

      .header__li {
        font-size: 18px;
        font-family: $typography;
        color: white;
        cursor: pointer;
      }
      .header__li:hover {
        color: $color-primary;
      }
      .header__li--logo {
        justify-self: flex-start;
        margin-left: 15px;
        .header__img {
          width: 110px;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
  .header__mobile {
    display: none;
  }
  .cerrado {
    display: none;
  }
  .header__container--mobile {
    display: none;
  }
}
.header__img {
  width: 110px;
  height: 50px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .container__header {
    padding: 0px 0;
    .header__nav {
      display: none;
    }
    .header__mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      .hamburguesa {
        width: 30px;
        height: 20px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
    .cerrado {
      display: none;
    }
    .header__container--mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 10;
      position: sticky;
      @keyframes move {
        0% {
          opacity: 0%;
        }

        90% {
          opacity: 95%;
        }
      }
      animation: move ease-in-out 1s;
      .cerrar {
        position: absolute;
        font-size: 40px;
        right: 13px;
        cursor: pointer;
      }
      .cerrar:hover {
        color: white;
      }
      .header__ul--mobile {
        gap: 10px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
        width: 80%;
        margin: auto;
        padding-bottom: 30px;
        .header__li--mobile {
          color: white;
          font-size: 20px;
          padding: 5px;
        }
        .header__li--mobile:hover {
          color: yellowgreen;
        }
      }
    }
  }
}
