@import "../../assets/styles/reset.scss";
@import "../../assets/styles/variables.scss";

.container__header {
  width: 100%;
  padding: 10px;
  background-color: $color-secundary;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  .header__nav {
    height: 100%;
    .header__ul {
      display: grid;
      grid-template-columns: 9fr 1fr minmax(200px, 1fr);
      text-decoration: none;
      list-style: none;
      align-items: center;
      height: 100%;
      justify-items: center;
      .header__li {
        font-size: 18px;
        font-family: $typography;
        color: white;
        cursor: pointer;
      }
      .header__li:hover {
        color: $color-primary;
      }
      .header__li--logo {
        justify-self: flex-start;
        margin-left: 15px;
        .header__img {
          width: auto;
          height: auto;
          cursor: pointer;
        }
      }
    }
  }
  .header__mobile {
    display: none;
  }
  .cerrado {
    display: none;
  }
  .header__container--mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .container__header {
    .header__nav {
      display: none;
    }
    .header__mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      cursor: pointer;
    }
    .cerrado {
      display: none;
    }
    .header__container--mobile {
      width: 100%;
      height: auto;
      background-color: $color-primary;
      display: block;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      z-index: 10;
      position: sticky;
      @keyframes move {
        0% {
          opacity: 0%;
        }

        90% {
          opacity: 95%;
        }
      }
      animation: move ease-in-out 1s;
      .cerrar {
        position: relative;
        left: 88%;
        top: 10px;
      }
      .header__ul--mobile {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        text-decoration: none;
        width: 80%;
        margin: auto;
        .header__li--mobile {
          border-bottom: 1px solid $color-secundary;
          color: white;
          font-size: 25px;
          margin-top: 20px;
          cursor: pointer;
        }
        .cerrar__sesion {
          background-color: $color-secundary;
          border-radius: 10px;
          border: 1px solid;
          text-align: center;
          padding: 5px;
        }
      }
      .container__img-redes {
        width: 100%;
        display: flex;
        cursor: pointer;
        margin-top: 50px;
        border-top: 1px solid;
        justify-content: space-around;
        .mobiel__redes {
          padding-top: 20px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
